#!/bin/bash
source_dir="{{ wg_workdir }}"
backup_dir="{{ wg_backupdir }}"
mkdir -p "$backup_dir"
current_date=$(date +"%Y-%m-%d")
cp -r "$source_dir" "$backup_dir/wireguard_$current_date"
cd "$backup_dir" || exit
tar -czf "wireguard_$current_date.tar.gz" "wireguard_$current_date"
rm -rf "wireguard_$current_date"
find "$backup_dir" -type f -name "*.tar.gz" -mtime +14 -exec rm {} \;