version: "3.8"
services:
  wg-easy:
    environment:
      - WG_HOST={{ ansible_host }}
      - PASSWORD_HASH={{ wg_easy_password_hash }}
{% if wg_device is defined %}
      - WG_DEVICE={{ wg_device }}
{% endif %}
{% if wg_persistent_keepalive is defined %}
      - WG_PERSISTENT_KEEPALIVE={{ wg_persistent_keepalive }}
{% endif %}
{% if wg_lang is defined %}
      - LANG={{ wg_lang }}
{% endif %}
{% if wg_ui_traffic_stats is defined %}
      - UI_TRAFFIC_STATS={{ wg_ui_traffic_stats }}
{% endif %}
{% if wg_default_address is defined %}
      - WG_DEFAULT_ADDRESS={{ wg_default_address }}
{% endif %}
{% if wg_default_dns is defined %}
      - WG_DEFAULT_DNS={{ wg_default_dns }}
{% endif %}
{% if wg_mtu is defined %}
      - WG_MTU={{ wg_mtu }}
{% endif %}
{% if wg_allowed_ips is defined %}
      - WG_ALLOWED_IPS={{ wg_allowed_ips }}
{% endif %}
{% if wg_pre_up is defined %}
      - WG_PRE_UP={{ wg_pre_up }}
{% endif %}
{% if wg_post_up is defined %}
      - WG_POST_UP={{ wg_post_up }}
{% endif %}
{% if wg_pre_down is defined %}
      - WG_PRE_DOWN={{ wg_pre_down }}
{% endif %}
{% if wg_post_down is defined %}
      - WG_POST_DOWN={{ wg_post_down }}
{% endif %}
    image: {{ wg_image }}
    container_name: {{ wg_container_name }}
    volumes:
      - {{ wg_workdir }}:/etc/wireguard
    ports:
      - "{{ wg_port }}:{{ wg_port }}/udp"
      - "{{ wg_ui_port }}:{{ wg_ui_port }}/tcp"
    restart: {{ wg_container_restart }}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
